<!-- Is it partial part for the future evente upcoming and past handling -->

      <div id="events" class="events">
        <h3>Uczestniczyła w:</h3>
        <ul>
          <li>Christmas Event 2016 <span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Metalica concert on Liverpool Stadion<span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Pub Kings&Queens<span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Bill Murphy Stand-UP<span>Norwich, Avenue St. NR4 3PP</span></li>
        </ul>
      </div>
      <div id="upcoming" class="upcoming">
        <h3>Zainteresowana:</h3>
        <ul>
          <li>Christmas Event 2016 in Norwich<span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Metalica concert on Liverpool Stadion<span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Pub Kings&Queens<span>Norwich, Avenue St. NR4 3PP</span></li>
          <li>Bill Murphy Stand-UP<span>Norwich, Avenue St. NR4 3PP</span></li>
        </ul>
      </div>


