<div id="login-form" class="login-form">
  <%= form_for :sessions, url: sessions_create_path do |s| %>
  <%= s.email_field :email, value: "Email", :placeholder => "Email" %>
  <%= s.password_field :password, value: "Hasło", :placeholder => "Hasło" %>
  <%= s.submit "Zaloguj się" %>
<% end %>
</div>
