<nav>
  <div id="container" class="container">
    <div id="logo" class="logo">mamuski<span>.org</span></div>
  <div id="wrapper" class="wrapper">
    <%= render 'partials/login_form' %>
  </div>
  </div>
</nav>
