<div id="welcome" class="welcome">
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
  <div id="container" class="container">
    <div id="welcome-picture" class="welcome-picture">
      <h2>Pomagamy łączyć mamy.</h2>
      <div id="img-container" class="img-container">
        <%= image_tag "moms_group.svg" %>
      </div>
    </div>
    <div id="form-regiter" class="form-register">
      <%= render 'partials/form' %>
    </div>
  </div>
</div>
