<div id="welcome-board" class="welcome-board">
  <% if flash[:notice] %>
  <div id="notice" class="notice">
    <div id="notice" class="notice">
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <aside id="left-side-menu" class="left-side-menu">
      <%= render 'partials/side_menu' %>
  </aside>
  <div id="profile-board" class="profile-board">
    <h1>Przydatne linki, o których warto wiedzieć</h1>
    <ul id="useful-links" class="useful-links">
      <li>Chcesz zgłosić jakiś błąd na stronie? Chcesz coś dodać? Coś ci się nie podoba i chciała byś to zmienić napisz na email@email.com</li>
      <li>Chcesz rozmawiać z innymi mamami? Odwiedź grupe na facebooku <%= link_to "Polskie Mamuśki", 'https://www.facebook.com/groups/polskiemamuskiuk/' %></li>
    </ul>
  </div>
</div>
