@import 'colors'

#dashboard
  #events.events
    display: flex
    margin: 50px
    & > div
      flex: 1
    #explanation-text
      text-align: center
      h1, p
        text-align: left
      p
        margin-bottom: 40px
        padding-right: 120px
        font-size: 12pt
    #form
      display: flex
      margin-top: 80px
      form#new_event
        width: 500px
        flex-wrap: wrap
        select, input, textarea
          margin-bottom: 20px
          border: solid 1px $borders
          min-width: 100%
          flex: 1
          box-sizing: border-box
        textarea
          resize: none
          height: 140px
        input[type='submit']
          background-color: #ccd1ec
          color: #F2F2F2
          margin-top: 20px
        input, select
          height: 50px
