$dark-blue: rgba(41, 128, 185,1.0)
$light-blue: rgba(52, 152, 219,1.0)
$lighter-blue: rgba(137, 196, 244, 1.0)

footer
  position: relative
  display: flex
  align-self: flex-end
  width: 100%
  background-color: $dark-blue
  padding: 5% 0
  color: rgb(173, 181, 212)
  p
    flex: 1 
    padding: 0 100px
  a
    color: rgb(173, 181, 212)
    text-decoration: none
    &:hover
      color: tomato
      cursor: pointer
  p:nth-child(2)
    text-align: right
