footer
  display: flex
  background-color: #33495E
  padding: 30px 5%
  color: rgb(173, 181, 212)
  p
    flex: 1 
  a
    color: rgb(173, 181, 212)
    text-decoration: none
    &:hover
      color: tomato
      cursor: pointer
  p:nth-child(2)
    text-align: right
