@import 'colors.sass'

#welcome.welcome
  .container
    display: flex
    padding-top: 50px
    & *
      flex: 1
    h1
      margin: 0
    #welcome-picture.welcome-picture
      img
        width: 90%
        height: 250px
