nav
  font-size: .8rem
  text-align: right
  background-color:  rgba(44, 62, 80, .75)
  border-bottom: 3px solid rgb(44, 62, 80)
  position: fixed 
  top: 0
  left: 0
  right: 0
  z-index: 4
  a
    color: #95A5A6
    font-weight: bold
    display: inline-block
    text-decoration: none
    padding: 10px 15px
    &:hover
      background-color: #34495E
  #container
    max-width: 1200px
    margin: 0 auto
