@import 'colors.sass'

nav
  background-color: $headers
  #container.container
    display: flex
    margin: 0 auto
    & *
      flex: 1
    #wrapper.wrapper
      display: flex
      align-items: center
      justify-content: flex-end
      text-align: right
      a
        max-width: 150px
        text-align: center
        display: inline-block
        padding: 25px 15px
        &:hover
          background-color: $sub-text
          text-decoration: none
