@import 'colors.sass'

aside
  background-color: $sub-text
  padding: 20px 50px
  width: 250px
  min-height: 100%
  ul
    list-style: none
    padding: 0
    margin: 0
    margin-bottom: 30px
    li
      padding: 10px 5px
      &:before
        display: block
        float: left
        width: 32px
        height: 32px
        margin-right: 7px
        content: ""
        background-size: 18px 18px
        background-repeat: no-repeat
        background-position: center
      &#home:before
        background-image: image-url("svg/home.svg")
      &#find-mom:before
        background-image: image-url("svg/search.svg")
      &#mom-nearby:before
        background-image: image-url("svg/place.svg")
      &#rate-mom:before
        background-image: image-url("svg/rating_light.svg")
      &#babysiter:before
        background-image: image-url("svg/babysiter.svg")
      &#help:before
        background-image: image-url("svg/info.svg")
      &#add-place:before
        background-image: image-url("svg/add.svg")
      &#add-event:before
        background-image: image-url("svg/add.svg")
      &#rate-place:before
        background-image: image-url("svg/rating_light.svg")
      &#update-data:before
        background-image: image-url("svg/arrows.svg")
      &#log-out:before
        background-image: image-url("svg/logout.svg")

      a
        vertical-align: sub
        font-size: .9rem
